/* --------------------------------- */
/* Not used in this project. Just for copy-pasting into Astro projects. */
/* --------------------------------- */

:root {
	/* Space */
	--space-xs: 3px;
	--space-sm: 6px;
	--space-md: 12px;
	--space-lg: 24px;
	--space-xl: 48px;
	--space-2xl: 96px;
	--space-3xl: 192px;

	/* Text */
	--font-heading: 'Inter', sans-serif;
	--font-body: 'Roboto', sans-serif;

	--text-heading-xs: 14px;
	--text-heading-sm: 16px;
	--text-heading-md: 18px;
	--text-heading-lg: 22px;
	--text-heading-xl: 26px;
	--text-heading-2xl: 32px;
	--text-body-xs: 12px;
	--text-body-sm: 14px;
	--text-body-md: 16px;
	--text-body-lg: 18px;
	--text-body-xl: 20px;

	/* Radius */
	--radius-box: 24px;
	--radius-button: 12px;
	--radius-input: 12px;
	--radius-eyebrow: 12px;
	--radius-image: 4px;

	/* Color */
	--color-neutral-0: #ffffff;
	--color-neutral-50: #fafafa;
	--color-neutral-100: #f4f4f5;
	--color-neutral-200: #e4e4e7;
	--color-neutral-300: #d4d4d8;
	--color-neutral-400: #a1a2aa;
	--color-neutral-500: #71727a;
	--color-neutral-600: #52535b;
	--color-neutral-700: #3f4046;
	--color-neutral-800: #27272a;
	--color-neutral-900: #18181b;
	--color-neutral-1000: #000000;
	--color-primary-50: #f4f5fe;
	--color-primary-100: #c8cdf9;
	--color-primary-200: #a3abf5;
	--color-primary-300: #7e89f2;
	--color-primary-400: #5968ee;
	--color-primary-500: #3446ea;
	--color-primary-600: #172bde;
	--color-primary-700: #1221ab;
	--color-primary-800: #0c1778;
	--color-primary-900: #070d45;
	--color-success-300: #b3e6b3;
	--color-success-500: #80cc80;
	--color-success-700: #4db34d;
	--color-warning-300: #e6e6b3;
	--color-warning-500: #cccc80;
	--color-warning-700: #b3b34d;
	--color-danger-300: #e6b3b3;
	--color-danger-500: #cc8080;
	--color-danger-700: #b34d4d;
}
@media screen(sm) {
	:root {
		/* Space */
		--space-xs: 4px;
		--space-sm: 8px;
		--space-md: 16px;
		--space-lg: 32px;
		--space-xl: 64px;
		--space-2xl: 128px;
		--space-3xl: 256px;

		/* Text */
		--text-heading-xs: 15px;
		--text-heading-sm: 17px;
		--text-heading-md: 19px;
		--text-heading-lg: 24px;
		--text-heading-xl: 32px;
		--text-heading-2xl: 40px;
		--text-body-xs: 13px;
		--text-body-sm: 15px;
		--text-body-md: 17px;
		--text-body-lg: 19px;
		--text-body-xl: 21px;
	}
}
@media screen(xl) {
	:root {
		/* Text */
		--text-heading-xs: 16px;
		--text-heading-sm: 18px;
		--text-heading-md: 20px;
		--text-heading-lg: 28px;
		--text-heading-xl: 40px;
		--text-heading-2xl: 56px;
		--text-body-xs: 14px;
		--text-body-sm: 16px;
		--text-body-md: 18px;
		--text-body-lg: 20px;
		--text-body-xl: 22p;
	}
}
.dark {
	/* Color */
	--color-neutral-1000: #ffffff;
	--color-neutral-900: #fafafa;
	--color-neutral-800: #f4f4f5;
	--color-neutral-700: #e4e4e7;
	--color-neutral-600: #d4d4d8;
	--color-neutral-500: #a1a2aa;
	--color-neutral-400: #71727a;
	--color-neutral-300: #52535b;
	--color-neutral-200: #3f4046;
	--color-neutral-100: #27272a;
	--color-neutral-50: #18181b;
	--color-neutral-0: #000000;
	--color-primary-900: #f4f5fe;
	--color-primary-800: #c8cdf9;
	--color-primary-700: #a3abf5;
	--color-primary-600: #7e89f2;
	--color-primary-500: #5968ee;
	--color-primary-400: #3446ea;
	--color-primary-300: #172bde;
	--color-primary-200: #1221ab;
	--color-primary-100: #0c1778;
	--color-primary-50: #070d45;
	--color-success-300: #b3e6b3;
	--color-success-500: #80cc80;
	--color-success-700: #4db34d;
	--color-warning-300: #e6e6b3;
	--color-warning-500: #cccc80;
	--color-warning-700: #b3b34d;
	--color-danger-300: #e6b3b3;
	--color-danger-500: #cc8080;
	--color-danger-700: #b34d4d;
}
