:root {
	--space-xs: 3px;
	--space-sm: 6px;
	--space-md: 12px;
	--space-lg: 18px;
	--space-xl: 24px;
	--space-2xl: 36px;
	--space-3xl: 48px;
	--space-4xl: 96px;
	--space-5xl: 192px;

	@media screen(sm) {
		--space-xs: 4px;
		--space-sm: 8px;
		--space-md: 16px;
		--space-lg: 24px;
		--space-xl: 32px;
		--space-2xl: 48px;
		--space-3xl: 64px;
		--space-4xl: 128px;
		--space-5xl: 256px;
	}
}
